<link rel="stylesheet" href="/assets/styles/components/faq.css">
<h2>FAQ</h2>
<div class="accordion">
    <div class="accordion-item">
        <h1 class="accordion-header" id="accordion-one">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordion-collapseOne">
                Who is The Owner of Way To Rinjani?
            </button>
        </h1>
        <div id="accordion-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordion">
            <div class="accordion-body">
                Terletak di Lombok, Nusa Tenggara Barat, Gunung Rinjani adalah gunung tertinggi ketiga di Indonesia
                dengan ketinggian 3.762 mdpl.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h1 class="accordion-header" id="accordion-two">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordion-collapseTwo" aria-expanded="false" aria-controls="accordion-collapseTwo">
                How High is Rinjani Mountain?
            </button>
        </h1>
        <div id="accordion-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordion-two">
            <div class="accordion-body">
                Terletak di Lombok, Nusa Tenggara Barat, Gunung Rinjani adalah gunung tertinggi ketiga di Indonesia
                dengan ketinggian 3.762 mdpl.
            </div>
        </div>
    </div>
</div>