<link rel="stylesheet" href="/assets/styles/components/footer.css">
<footer class="text-medium">
    <div class="left-section">
        <img src="/assets/images/logo/WayToRinjani.png" alt="WayToRinjani-Logo">
        <p>&copy; 2024, @hanseeeh, @boviliusmeidi. All rights reserved.</p>
        <p>&copy; 2024, WayToRinjani. All rights reserved.</p>
    </div>
    <div class="right-section">
        <div class="up-section">
            <a href="https://maps.app.goo.gl/HJ4zNhkRwDxUqLuv6">Jl. Pariwisata Senaru, Bayam Kabupaten Lombok Utara,
                Nusa Tenggara Barat, Indonesia.
                83354</a>
        </div>
        <hr>
        <div class="down-section">
            <div class="left">
                <div class="contact">
                    <span class="material-icons-outlined">
                        phone
                    </span>
                    <a href="tel:+6282339750710">+62 82339750710</a>
                </div>
                <div class="contact">
                    <span class="material-icons-outlined">
                        email
                    </span>
                    <a href="mailto:waytorinjani@gmail.com">waytorinjani@gmail.com</a>
                </div>
            </div>
            <div class="right social-media">
                <a href="">
                    <img src="/assets/images/social-media/whatsapp-logo.png" alt="whatsapp-logo">
                </a>
                <a href="">
                    <img src="/assets/images/social-media/tiktok-logo.png" alt="tiktok-logo">
                </a>
                <a href="">
                    <img src="/assets/images/social-media/instagram-logo.png" alt="instagram-logo">
                </a>
                <a href="">
                    <img src="/assets/images/social-media/linkedin-logo.png" alt="linkedin-logo">
                </a>
            </div>
        </div>
    </div>
</footer>