@import "/assets/styles/variables.css";

footer .text-medium{
  text-align: left;
}

footer {
  margin: 1rem;
  display: flex;
  gap: 2vw;
}

footer img {
  width: 20vw;
}

a {
  text-decoration: none;
  word-wrap: break-word;
  color: var(--text-secondary-color);
}

a:hover {
  color: var(--text-secondary-color);
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  font-size: var(--font-size-small);
}

.right-section {
  width: 65vw;
  font-size: var(--font-size-xlarge);
}

.down-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}

.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.contact {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.social-media{
  display: flex;
  gap: 6vw;
  justify-content: center;
  align-items: center;
}

.social-media img {
  width: 3rem;
}

.left-section p{
  margin: 0;
}

@media screen and (max-width: 1024px) {
  footer {
    flex-direction: column;
  }

  footer img {
    width: 50vw;
  }

  .right-section {
    width: 100%;
    font-size: var(--font-size-xlarge);
  }

  .down-section {
    display: flex;
    flex-direction: row;
    gap: 4vw;
  }
}

@media screen and (max-width: 768px) {
  a {
    font-size: var(--font-size-medium);
  }

  .up-section{
   text-align: center;
   margin: 0;
  }

  .down-section {
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }
}
