@import "/assets/styles/variables.css";

img {
  width: 15vw;
}

.container-fluid {
  margin: 0 3rem;
  display: flex;
  gap: 10rem;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.nav-link {
  font-size: var(--font-size-header);
  color: var(--text-primary-color);
}

@media screen and (max-width: 1224px) {
  .container-fluid {
    gap: 1rem;
  }

  .nav-link {
    font-size: 1.6rem;
  }
}


@media screen and (max-width: 992px) {
  .container-fluid {
    margin: 0 1rem;
    display: flex;
    gap: 0rem;
    align-items: center;
  }

  .nav-link {
    font-size: var(--font-size-large);
    color: var(--text-primary-color);
  }

  img {
    width: 30vw;
  }
}
