@import "/assets/styles/variables.css";
@import "/assets/styles/components/carousel.css";

.main-content {
  margin-top: 5rem;
}

article.content {
  padding: 0 24rem;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content img {
  width: 22rem;
  height: 7rem;
}

/* First Page */

.first_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin-top: 5rem;
}

.first_page .content {
  padding: 0 24rem;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.first_page .content h1 {
  font-size: 28pt;
  text-align: center;
  margin-bottom: 2rem;
}

.first_page .explanation {
  font-family: "Crimson Text";
  font-size: 18pt;
  text-align: justify;
  width: 70rem;
  margin-bottom: 2rem;
}

#carousel {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}

#carousel .carousel-inner img {
  height: 40rem;
  object-fit: cover;
  height: 40rem;
  object-fit: cover;
}

/* End First Page */


/* Second Page */

.second_page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 20rem;
  gap: 5vw;
}

.second_page img {
  display: flex;
  object-fit: cover;
  width: 100%;
  max-width: 90rem;
  height: 30rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.second_page .explanation {
  font-family: "Crimson Text";
  font-size: 18pt;
  text-align: justify;
  width: 30rem;
  margin-bottom: 2rem;
}

.second_page_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second_page_2 .explanation {
  font-family: "Crimson Text";
  font-size: 18pt;
  text-align: justify;
  width: 70rem;
  margin-bottom: 5rem;
}

/* End of Second Page */


/* Third Page */

.third_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin-top: 5rem;
}

.third_page h2 {
  font-size: 50pt;
}

.third_page img {
  width: 100%;
  max-width: 70rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.third_page .explanation {
  font-family: "Crimson Text";
  font-size: 18pt;
  text-align: justify;
  width: 70rem;
}

/* End of Third Page */

/* Fourth Page */

.fourth_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin-top: 5rem;
}

.fourth_page h2 {
  font-size: 50pt;
}

.fourth_page img {
  width: 100%;
  max-width: 70rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.fourth_page .explanation {
  font-family: "Crimson Text";
  font-size: 18pt;
  text-align: justify;
  width: 70rem;
}

/* End of Fourth Page */

/* Fifth Page */

.fifth_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin-top: 5rem;
}

.fifth_page h2 {
  font-size: 50pt;
  margin-bottom: 2rem;
}

.fifth_page img {
  width: 100%;
  max-width: 40rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  object-fit:fill;
}

.fifth_page .explanation {
  font-family: "Crimson Text";
  font-size: 18pt;
  text-align: justify;
  width: 70rem;
}

.fifth_page h3 {
  font-size: 40pt;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

/* End of Fifth Page */


/* Responsif Tablet*/
@media screen and (max-width: 1024px) {

  article.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content img {
    width: 22rem;
    height: 7rem;
  }

  /* First Page */
  .first_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .first_page .content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .first_page .explanation {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 55rem;
    margin-bottom: 1rem;
  }

  #carousel {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
  }

  #carousel .carousel-inner img {
    height: 30rem;
    object-fit: cover;
  }

  /* End First Page */


  /* Second Page */

  .second_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    gap: 5vw;
  }

  .second_page img {
    width: 100%;
    max-width: 40rem;
    height: 30rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 30pt;
  }

  .second_page .explanation {
    font-family: "Crimson Text";
    font-size: 18pt;
    text-align: justify;
    width: 100%;
    max-width: 55rem;
    margin-bottom: 2rem;
  }

  .second_page_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .second_page_2 .explanation {
    font-family: "Crimson Text";
    font-size: 18pt;
    text-align: justify;
    width: 100%;
    max-width: 55rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
  }

  /* End of Second Page */

  /* Third Page */

  .third_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .third_page h2 {
    font-size: 40pt;
  }

  .third_page img {
    width: 55rem;
    height: 30rem;
    margin-bottom: 2rem;
  }

  .third_page .explanation {
    font-family: "Crimson Text";
    font-size: 18pt;
    text-align: justify;
    width: 100%;
    max-width: 55rem;
  }

  /* End of Third Page */

  /* Fourth Page */

  .fourth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .fourth_page h2 {
    font-size: 40pt;
  }

  .fourth_page img {
    width: 55rem;
    height: 30rem;
    margin-bottom: 2rem;
  }

  .fourth_page .explanation {
    font-family: "Crimson Text";
    font-size: 18pt;
    text-align: justify;
    width: 100%;
    max-width: 55rem;
  }

  /* End of Fourth Page */


  /* Fifth Page */

  .fifth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .fifth_page h2 {
    font-size: 40pt;
    margin-bottom: 2rem;
  }

  .fifth_page img {
    width: 50rem;
    height: 50rem;
    margin-bottom: 2rem;
    align-items: center;
  }

  .fifth_page .explanation {
    font-family: "Crimson Text";
    font-size: 18pt;
    text-align: justify;
    width: 100%;
    max-width: 55rem;
  }

  .fifth_page h3 {
    font-size: 22pt;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 40rem;
  }

  /* End of Fifth Page */

}

/* End of Resonsif Laptop */

/* Responsif Tablet*/
@media screen and (max-width: 768px) {

  article.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content img {
    width: 22rem;
    height: 7rem;
  }

  /* First Page */
  .first_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .first_page .content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .first_page .explanation {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 40rem;
    margin-bottom: 1rem;
  }

  #carousel {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
  }

  #carousel .carousel-inner img {
    height: 30rem;
    object-fit: cover;
  }

  /* End First Page */

  /* Second Page */

  .second_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    gap: 5vw;
  }

  .second_page img {
    width: 100%;
    max-width: 40rem;
    height: 30rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 24pt;
  }

  .second_page .explanation {
    font-family: "Crimson Text";
    font-size: 18pt;
    text-align: justify;
    width: 100%;
    max-width: 40rem;
    margin-bottom: 2rem;
  }

  .second_page_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .second_page_2 .explanation {
    font-family: "Crimson Text";
    font-size: 18pt;
    text-align: justify;
    width: 100%;
    max-width: 40rem;
    margin-bottom: 5rem;
  }

  /* End of Second Page */

  /* Third Page */

  .third_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .third_page h2 {
    font-size: 40pt;
  }

  .third_page img {
    width: 40rem;
    height: 20rem;
    margin-bottom: 2rem;
  }

  .third_page .explanation {
    font-family: "Crimson Text";
    font-size: 18pt;
    text-align: justify;
    width: 100%;
    max-width: 40rem;
  }

  /* End of Third Page */

  /* Fourth Page */

  .fourth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .fourth_page h2 {
    font-size: 40pt;
  }

  .fourth_page img {
    width: 40rem;
    height: 20rem;
    margin-bottom: 2rem;
  }

  .fourth_page .explanation {
    font-family: "Crimson Text";
    font-size: 18pt;
    text-align: justify;
    width: 100%;
    max-width: 40rem;
  }

  /* End of Fourth Page */


  /* Fifth Page */

  .fifth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .fifth_page h2 {
    font-size: 40pt;
    margin-bottom: 2rem;
  }

  .fifth_page img {
    width: 30rem;
    height: 40rem;
    margin-bottom: 2rem;
    align-items: center;
  }

  .fifth_page .explanation {
    font-family: "Crimson Text";
    font-size: 18pt;
    text-align: justify;
    width: 100%;
    max-width: 40rem;
  }

  .fifth_page h3 {
    font-size: 22pt;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 40rem;
  }

  /* End of Fifth Page */

}

/* End of Resonsif Tablet */


/* Responsif HP L */
@media screen and (max-width: 425px) {

  article .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  article .content img {
    width: 10rem;
    height: 3rem;
  }

  article .content {
    font-size: 10pt;
  }

  /* First Page */
  .first_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .first_page .content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .first_page .explanation {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 25rem;
    margin-bottom: 1rem;
  }

  #carousel {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
  }

  #carousel .carousel-inner img {
    height: 15rem;
    object-fit: cover;
  }

  /* End First Page */

  /* Second Page */

  .second_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ;
    gap: 5vw;
  }

  .second_page img {
    width: 100%;
    max-width: 25rem;
    height: 20rem;
  }

  .second_page h2 {
    text-align: center;
    margin-top: -4rem;
    margin-bottom: 2rem;
    font-size: 22pt;
  }

  .second_page .explanation {
    font-family: "Crimson Text";
    font-size: 12pt;
    text-align: justify;
    width: 100%;
    max-width: 25rem;
    margin-bottom: 2rem;
  }

  .second_page_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .second_page_2 .explanation {
    font-family: "Crimson Text";
    font-size: 12pt;
    text-align: justify;
    width: 100%;
    max-width: 25rem;
    margin-bottom: 1rem;
  }

  /* End of Second Page */

  /* Third Page */

  .third_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 1rem;
  }

  .third_page h2 {
    font-size: 22pt;
    text-align: center;
  }

  .third_page img {
    width: 25rem;
    height: 18rem;
    margin-bottom: 2rem;
  }

  .third_page .explanation {
    font-family: "Crimson Text";
    font-size: 12pt;
    text-align: justify;
    width: 100%;
    max-width: 25rem;
  }

  /* End of Third Page */

  /* Fourth Page */

  .fourth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 1rem;
  }

  .fourth_page h2 {
    font-size: 22pt;
    text-align: center;
  }

  .fourth_page img {
    width: 25rem;
    height: 18rem;
    margin-bottom: 2rem;
  }

  .fourth_page .explanation {
    font-family: "Crimson Text";
    font-size: 12pt;
    text-align: justify;
    width: 100%;
    max-width: 25rem;
  }

  /* End of Fourth Page */

  /* Fifth Page */

  .fifth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 2rem;
  }

  .fifth_page h2 {
    font-size: 22pt;
    margin-bottom: 2rem;
  }

  .fifth_page img {
    width: 20rem;
    height: 30rem;
    margin-bottom: 2rem;
    align-items: center;
  }

  .fifth_page .explanation {
    font-family: "Crimson Text";
    font-size: 12pt;
    text-align: justify;
    width: 100%;
    max-width: 25rem;
  }

  .fifth_page h3 {
    font-size: 14pt;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 25rem;
  }

  /* End of Fifth Page */
}


/* Responsif HP M */
@media screen and (max-width: 375px) {

  article .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content img {
    width: 10rem;
    height: 3rem;
  }

  /* First Page */
  .first_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .first_page .content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .first_page .content h1 {
    font-size: 20pt;
    text-align: center;
    margin-bottom: 2rem;
  }
  

  .first_page .explanation {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 20rem;
    margin-bottom: 1rem;
  }

  #carousel {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
  }

  #carousel .carousel-inner img {
    height: 15rem;
    object-fit: cover;
  }

  /* End First Page */

  /* Second Page */

  .second_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
  }

  .second_page img {
    width: 100%;
    max-width: 20rem;
    height: 15rem;
  }

  .second_page h2 {
    text-align: center;
    margin-top: -4rem;
    margin-bottom: 2rem;
    font-size: 22pt;
  }

  .second_page .explanation {
    font-family: "Crimson Text";
    font-size: 12pt;
    text-align: justify;
    width: 100%;
    max-width: 20rem;
    margin-bottom: 2rem;
  }

  .second_page_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .second_page_2 .explanation {
    font-family: "Crimson Text";
    font-size: 12pt;
    text-align: justify;
    width: 100%;
    max-width: 20rem;
    margin-bottom: 1rem;
  }

  /* End of Second Page */

  /* Third Page */

  .third_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 1rem;
  }

  .third_page h2 {
    font-size: 22pt;
    text-align: center;
  }

  .third_page img {
    width: 100%;
    max-width: 20rem;
    height: 15rem;
  }

  .third_page .explanation {
    font-family: "Crimson Text";
    font-size: 12pt;
    text-align: justify;
    width: 100%;
    max-width: 20rem;
  }

  /* End of Third Page */

  /* Fourth Page */

  .fourth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 1rem;
  }

  .fourth_page h2 {
    font-size: 22pt;
    text-align: center;
  }

  .fourth_page img {
    width: 100%;
    max-width: 20rem;
    height: 15rem;
    margin-bottom: 2rem;
  }

  .fourth_page .explanation {
    font-family: "Crimson Text";
    font-size: 12pt;
    text-align: justify;
    width: 100%;
    max-width: 20rem;
  }

  /* End of Fourth Page */

  /* Fifth Page */

  .fifth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 2rem;
  }

  .fifth_page h2 {
    font-size: 22pt;
    margin-bottom: 2rem;
  }

  .fifth_page img {
    width: 100%;
    max-width: 20rem;
    height: 25rem;;
    margin-bottom: 2rem;
    align-items: center;
  }

  .fifth_page .explanation {
    font-family: "Crimson Text";
    font-size: 12pt;
    text-align: justify;
    width: 100%;
    max-width: 20rem;
  }

  .fifth_page h3 {
    font-size: 12pt;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 25rem;
  }

  /* End of Fifth Page */
}


/* Responsif HP M */
@media screen and (max-width: 320px) {

  article .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content img {
    width: 10rem;
    height: 3rem;
  }

  /* First Page */
  .first_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .first_page .content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .first_page .content h1 {
    font-size: 18pt;
    text-align: center;
    margin-bottom: 2rem;
  }
  

  .first_page .explanation {
    font-family: 'Crimson Text';
    font-size: 11pt;
    text-align: justify;
    width: 18rem;
    margin-bottom: 1rem;
  }

  #carousel {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
  }

  #carousel .carousel-inner img {
    height: 15rem;
    object-fit: cover;
  }

  /* End First Page */

  /* Second Page */

  .second_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
  }

  .second_page img {
    width: 100%;
    max-width: 19rem;
    height: 14rem;
  }

  .second_page h2 {
    text-align: center;
    margin-top: -4rem;
    margin-bottom: 2rem;
    font-size: 22pt;
  }

  .second_page .explanation {
    font-family: "Crimson Text";
    font-size: 11pt;
    text-align: justify;
    width: 100%;
    max-width: 18rem;
    margin-bottom: 2rem;
  }

  .second_page_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .second_page_2 .explanation {
    font-family: "Crimson Text";
    font-size: 11pt;
    text-align: justify;
    width: 100%;
    max-width: 18rem;
    margin-bottom: 1rem;
  }

  /* End of Second Page */

  /* Third Page */

  .third_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 1rem;
  }

  .third_page h2 {
    font-size: 22pt;
    text-align: center;
  }

  .third_page img {
    width: 100%;
    max-width: 18rem;
    height: 14rem;
  }

  .third_page .explanation {
    font-family: "Crimson Text";
    font-size: 11pt;
    text-align: justify;
    width: 100%;
    max-width: 18rem;
  }

  /* End of Third Page */

  /* Fourth Page */

  .fourth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 1rem;
  }

  .fourth_page h2 {
    font-size: 22pt;
    text-align: center;
  }

  .fourth_page img {
    width: 100%;
    max-width: 18rem;
    height: 14rem;
    margin-bottom: 2rem;
  }

  .fourth_page .explanation {
    font-family: "Crimson Text";
    font-size: 11pt;
    text-align: justify;
    width: 100%;
    max-width: 18rem;
  }

  /* End of Fourth Page */

  /* Fifth Page */

  .fifth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 2rem;
  }

  .fifth_page h2 {
    font-size: 22pt;
    margin-bottom: 2rem;
  }

  .fifth_page img {
    width: 100%;
    max-width: 18rem;
    height: 22rem;
    align-items: center;
  }

  .fifth_page .explanation {
    font-family: "Crimson Text";
    font-size: 11pt;
    text-align: justify;
    width: 100%;
    max-width: 18rem;
  }

  .fifth_page h3 {
    font-size: 11pt;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 20rem;
  }

  /* End of Fifth Page */
}