@import "/assets/styles/variables.css";
@import "/assets/styles/components/carousel.css";
@import "/assets/styles/components/card-trail.css";

section {
  display: fixed;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

article.content {
  padding: 0 24rem;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content img{
    width: 22rem;
    height: 7rem;
}

.sub-title{
    font-size: 32px;
    text-align: center;
    font-weight: medium;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.explanation{
    font-family: 'Crimson Text';
    font-size: 20px;
    text-align: justify;
    width: 70rem;
    margin-bottom: 2rem;
}

#carousel_2 {
  width: 70rem; /* Atur panjang carousel sesuai keinginan */
  height: 100%;
  margin: 0 auto; /* Agar carousel berada di tengah halaman */

}

#carousel_2 .carousel-inner img {
  width: 100%; /* Pastikan gambar memenuhi panjang carousel */
  height: fit-content; 
  
}


span.tertiary {
  color: var(--text-tertiary-color);
}

span.quaternary{
  color: var(--text-quaternary-color);
}


@media screen and (max-width: 1024px) {
    article.content {
        padding: 0 2rem;
      }
}

@media screen and (max-width: 768px) {
}
