@import "/assets/styles/variables.css";
@import "/assets/styles/components/card-packages.css";
@import "/assets/styles/components/carousel.css";

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.main-content {
  margin-top: 5rem;
}

.content img {
  width: 22rem;
  height: 7rem;
  margin-bottom: 2rem;
}

/* First Page */

.first_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin-top: 5rem;
}

.first_page .content {
  padding: 0 24rem;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.first_page .content h1 {
  font-family: 'Poppins';
  font-size: 900;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.first_page .explanation {
  font-family: "Crimson Text";
  font-size: 18pt;
  text-align: justify;
  width: 70rem;
  margin-bottom: 1rem;
}

#carousel {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}

#carousel .carousel-inner img {
  height: 40rem;
  object-fit: cover;
  height: 40rem;
  object-fit: cover;
}

/* End First Page */

/* Second Page */

.second_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.second_page .content {
  padding: 0 24rem;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second_page .content h1 {
  font-size: var(--font-size-header);
}

.second_page .explanation {
  font-family: "Crimson Text";
  font-size: 18pt;
  text-align: justify;
  width: 70rem;
}

.subtittle {
  font-family: "Crimson Text";
  font-size: 24pt;
  font-weight: bold;
  text-align: justify;
  width: 70rem;
  margin-top: 2rem;
}

#carouselsecond_page {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
}

#carouselsecond_page .carousel-inner img {
  height: 30rem;
  object-fit: cover;
  height: 30rem;
  object-fit: cover;
}

.carousel-caption-bottom {
  font-family: "Crimson Text", serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 25pt;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px 20px;
}

.second_page .carousel-inner {
  position: relative;
}

/* End Second Page */

/* Third Page  */

.third_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.third_page .content {
  padding: 0 24rem;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#carouselthird_page {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 2rem;
}

#carouselthird_page .carousel-inner img {
  height: 30rem;
  object-fit: cover;
  height: 30rem;
  object-fit: cover;
}

.carousel-caption-bottom {
  font-family: "Crimson Text", serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 25pt;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px 20px;
}

.third_page .carousel-inner {
  position: relative;
}

.third_page .explanation {
  font-family: "Crimson Text";
  font-size: 18pt;
  text-align: justify;
  width: 70rem;
  margin-top: 2rem;
}

.third_page .explanation {
  font-family: "Crimson Text";
  font-size: 18pt;
  text-align: justify;
  width: 70rem;
  margin-top: 1rem;
}

.third_page .subtittle {
  font-family: "Poppins";
  font-size: 26pt;
  font-weight: bold;
  text-align: justify;
  width: 70rem;
}

.third_page .sub-subtittle {
  font-family: "Crimson Text";
  font-size: 20pt;
  font-weight: bold;
  text-align: left;
  width: 70rem;
}

.third_page .paragraph {
  font-family: "Crimson Text";
  font-size: 18pt;
  text-align: justify;
  width: 70rem;
  margin-bottom: 2rem;
}

.third_page .explanation_end {
  font-family: "Crimson Text";
  font-size: 18pt;
  text-align: justify;
  width: 70rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

/* End Third Page  */

/* Fourth Page  */

.fourth_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.fourth_page .content {
  padding: 0 24rem;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourth_page .package-services {
  margin: 0 16rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 6rem;
}

.fourth_page .private-trip {
  flex: 1;
  max-width: 100%;
  flex: 1;
  max-width: 100%;
  text-align: left;
}

.fourth_page .explanation {
  font-family: "Crimson Text";
  font-size: 18pt;
  text-align: justify;
  width: 30rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.fourth_page .subtittle {
  font-family: "Crimson Text";
  font-size: 26pt;
  font-weight: medium;
  text-align: center;
  width: 30rem;
}

.styled-button {
  background-color: var(--button-secondary-color);
  color: var(--button-text-secondary-color);
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 10rem;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--font-size-large);
  transition: background-color 0.3s ease, transform 0.2s ease;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  margin-bottom: 5rem;
}

.styled-button a {
  text-decoration: none;
  color: inherit;
}

/* End of Fourth Page  */

/* Fifth Page  */

.fifth_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin-bottom: 10rem;
}

.fifth_page .content {
  padding: 0 24rem;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trip-packages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 0 3rem;
}

/* End of Fifth Page  */

/* Six Page  */

.six_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin-bottom: 10rem;
}

.six_page .content {
  padding: 0 24rem;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-contact-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: var(--text-secondary-color);
}

.maps {
  width: 40vw;
  height: 30vw;
  border-radius: 2rem;
}

.first-contact-content h2 {
  font-size: var(--font-size-xlarge);
}

.first-contact-content h1 {
  color: var(--text-primary-color);
  letter-spacing: 0.2rem;
}

.first-contact-content span {
  color: var(--text-tertiary-color);
}

.first-contact-content .below {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.first-contact-content h2,
.first-contact-content h1,
.first-contact-content p,
.first-contact-content a {
  text-align: left;
}

.second-contact-content h2 {
  margin-top: 2rem;
  font-size: var(--font-size-xlarge);
  color: var(--text-secondary-color);
  text-align: left;
}

.contact-social-media {
  display: flex;
  gap: 4vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.icon-social-media {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.contact-social-media img {
  width: 3rem;
}

.contact-media {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 2rem;
}

.contacts a {
  color: var(--text-secondary-color);
  font-size: var(--font-size-large);
}

/* End of Six Page */


/* Seven Page (Gallery Page) */

#gallery h1 {
  text-align: center;
}

.up-carousel {
  margin: 4rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.up-carousel h1 {
  margin: 0;
}

#gallery .carousel-item {
  transform: none !important;
  transition: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  transition: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
}

#gallery .carousel-inner {
  width: 100%;
  height: 100%;
}

#gallery .carousel-inner img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  aspect-ratio: 16 / 9;
}

/* End of Seven Page (Gallery Page) */


/* Responsif Laptop */

@media screen and (max-width: 1024px) {

  /* First Page */

  .first_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .first_page .content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .first_page .explanation {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 40rem;
    margin-bottom: 1rem;
  }

  #carousel {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
  }

  #carousel .carousel-inner img {
    height: 30rem;
    object-fit: cover;
  }

  /* End First Page */


  /* Second Page */

  .second_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .second_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second_page .content h1 {
    font-size: 18pt;
    text-align: center;
  }

  .second_page .explanation {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 40rem;
  }

  .subtittle {
    font-family: 'Crimson Text';
    font-size: 24pt;
    font-weight: bold;
    text-align: justify;
    width: 40rem;
    margin-top: 2rem;
  }

  #carouselsecond_page {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
  }

  #carouselsecond_page .carousel-inner img {
    height: 30rem;
    object-fit: cover;
  }

  .carousel-caption-bottom {
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 25pt;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
  }

  .second_page .carousel-inner {
    position: relative;
  }

  /* End Second Page */


  /* Third Page  */

  .third_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .third_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #carouselthird_page {
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
    margin-top: 2rem;
  }

  #carouselthird_page .carousel-inner img {
    height: 30rem;
    object-fit: cover;
  }

  .carousel-caption-bottom {
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 25pt;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
  }

  .third_page .carousel-inner {
    position: relative;
  }

  .third_page .explanation {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 40rem;
    margin-top: 2rem;
  }

  .third_page .explanation {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 40rem;
    margin-top: 1rem;
  }

  .third_page .subtittle {
    font-family: 'Poppins';
    font-size: 26pt;
    font-weight: bold;
    text-align: justify;
    width: 40rem;
  }

  .third_page .sub-subtittle {
    font-family: 'Crimson Text';
    font-size: 20pt;
    font-weight: bold;
    text-align: left;
    width: 40rem;
  }

  .third_page .paragraph {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 40rem;
    margin-bottom: 2rem;
  }

  .third_page .explanation_end {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 40rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  /* End Third Page  */

  /* Fourth Page  */

  .fourth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .fourth_page .content {
    padding: 0 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fourth_page .package-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fourth_page .private-trip {
    width: 100%;
    max-width: 40rem;
    text-align: left;
  }

  .fourth_page .private-trip .explanation {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    align-items: center;
    width: 40rem;
    margin-top: 1rem;
  }

  .fourth_page .private-trip .subtittle {
    font-family: 'Crimson Text';
    font-size: 24pt;
    font-weight: medium;
    text-align: center;
    width: 40rem;
  }

  .styled-button {
    background-color: var(--button-secondary-color);
    color: var(--button-text-secondary-color);
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 10rem;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--font-size-large);
    transition: background-color 0.3s ease, transform 0.2s ease;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    margin-bottom: 5rem;
  }

  .styled-button a {
    text-decoration: none;
    color: inherit;
  }

  /* End of Fourth Page  */

  article.content {
    padding: 0 2rem;
  }

  .package-services {
    margin: 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }

  .trip-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .first-contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .maps {
    width: 80vw;
    height: 70vw;
  }

  .fourth_page .package-services {
    margin: 0 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6rem;
  }

  .first_page .content,
  .second_page .content,
  .third_page,
  .third_page .content,
  .fourth_page .content {
    padding: 0 2rem;
  }

  .first_page .explanation,
  .second_page .explanation,
  .second_page .subtittle,
  .third_page .explanation,
  .third_page .subtittle,
  .third_page .sub-subtittle,
  .third_page .paragraph,
  .third_page .explanation_end,
  .fourth_page .explanation,
  .fourth_page .subtittle {
    width: 100%;
  }

  .up-carousel {
    flex-direction: column;
    gap: 2rem;
  }
}

/* End of Responsif Tablet */


/* Responsif Tablet */

@media screen and (max-width: 768px) {

  /* First Page */

  .first_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .first_page .content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .first_page .explanation {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 40rem;
    margin-bottom: 1rem;
  }

  #carousel {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
  }

  #carousel .carousel-inner img {
    height: 30rem;
    object-fit: cover;
  }

  /* End First Page */


  /* Second Page */

  .second_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .second_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second_page .content h1 {
    font-size: 18pt;
    text-align: center;
  }

  .second_page .explanation {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 40rem;
  }

  .subtittle {
    font-family: 'Crimson Text';
    font-size: 24pt;
    font-weight: bold;
    text-align: justify;
    width: 40rem;
    margin-top: 2rem;
  }

  #carouselsecond_page {
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
  }

  #carouselsecond_page .carousel-inner img {
    height: 30rem;
    object-fit: cover;
  }

  .carousel-caption-bottom {
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 25pt;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
  }

  .second_page .carousel-inner {
    position: relative;
  }

  /* End Second Page */


  /* Third Page  */

  .third_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .third_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #carouselthird_page {
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
    margin-top: 2rem;
  }

  #carouselthird_page .carousel-inner img {
    height: 30rem;
    object-fit: cover;
  }

  .carousel-caption-bottom {
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 25pt;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
  }

  .third_page .carousel-inner {
    position: relative;
  }

  .third_page .explanation {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 40rem;
    margin-top: 2rem;
  }

  .third_page .explanation {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 40rem;
    margin-top: 1rem;
  }

  .third_page .subtittle {
    font-family: 'Poppins';
    font-size: 26pt;
    font-weight: bold;
    text-align: justify;
    width: 40rem;
  }

  .third_page .sub-subtittle {
    font-family: 'Crimson Text';
    font-size: 20pt;
    font-weight: bold;
    text-align: left;
    width: 40rem;
  }

  .third_page .paragraph {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 40rem;
    margin-bottom: 2rem;
  }

  .third_page .explanation_end {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    width: 40rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  /* End Third Page  */

  /* Fourth Page  */

  .fourth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .fourth_page .content {
    padding: 0 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fourth_page .package-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fourth_page .private-trip {
    width: 100%;
    max-width: 40rem;
    text-align: left;
  }

  .fourth_page .private-trip .explanation {
    font-family: 'Crimson Text';
    font-size: 18pt;
    text-align: justify;
    align-items: center;
    width: 40rem;
    margin-top: 1rem;
  }

  .fourth_page .private-trip .subtittle {
    font-family: 'Crimson Text';
    font-size: 24pt;
    font-weight: medium;
    text-align: center;
    width: 40rem;
  }

  .styled-button {
    background-color: var(--button-secondary-color);
    color: var(--button-text-secondary-color);
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 10rem;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--font-size-large);
    transition: background-color 0.3s ease, transform 0.2s ease;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    margin-bottom: 5rem;
  }

  .styled-button a {
    text-decoration: none;
    color: inherit;
  }

  /* End of Fourth Page  */

  article.content {
    padding: 0 2rem;
  }

  .package-services {
    margin: 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }

  .trip-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .first-contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .maps {
    width: 80vw;
    height: 70vw;
  }

  .fourth_page .package-services {
    margin: 0 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6rem;
  }

  .first_page .content,
  .second_page .content,
  .third_page,
  .third_page .content,
  .fourth_page .content {
    padding: 0 2rem;
  }

  .first_page .explanation,
  .second_page .explanation,
  .second_page .subtittle,
  .third_page .explanation,
  .third_page .subtittle,
  .third_page .sub-subtittle,
  .third_page .paragraph,
  .third_page .explanation_end,
  .fourth_page .explanation,
  .fourth_page .subtittle {
    width: 100%;
  }

  .up-carousel {
    flex-direction: column;
    gap: 2rem;
  }
}

/* End of Responsif Tablet */



/* Responsif HP L */

@media screen and (max-width: 425px) {

  /* First Page */
  .first_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .first_page .content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .first_page .content img {
    height: 3rem;
    width: 10rem;
  }

  .first_page .explanation {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 25rem;
    margin-bottom: 1rem;
  }

  #carousel {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
  }

  #carousel .carousel-inner img {
    height: 15rem;
    object-fit: cover;
  }

  /* End First Page */


  /* Second Page */

  .second_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .second_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second_page .content img {
    height: 5rem;
    width: 15rem;
  }

  .second_page .content h1 {
    font-size: 16pt;
    text-align: center;
  }

  .second_page .explanation {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 25rem;
  }

  .subtittle {
    font-family: 'Crimson Text';
    font-size: 18pt;
    font-weight: bold;
    text-align: justify;
    width: 25rem;
    margin-top: 2rem;
  }

  #carouselsecond_page {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
  }

  #carouselsecond_page .carousel-inner img {
    height: 15rem;
    object-fit: cover;
  }

  .carousel-caption-bottom {
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 25pt;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
  }

  .second_page .carousel-inner {
    position: relative;
  }

  /* End Second Page */


  /* Third Page  */

  .third_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .third_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .third_page .content img {
    height: 5rem;
    width: 15rem;
  }

  .third_page .content h1 {
    font-size: 16pt;
    text-align: center;
  }


  #carouselthird_page {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    margin-top: 2rem;
  }

  #carouselthird_page .carousel-inner img {
    height: 15rem;
    object-fit: cover;
  }

  .carousel-caption-bottom {
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 16pt;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
  }

  .third_page .carousel-inner {
    position: relative;
  }

  .third_page .explanation {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 25rem;
    margin-top: 2rem;
  }

  .third_page .subtittle {
    font-family: 'Poppins';
    font-size: 16pt;
    font-weight: bold;
    text-align: justify;
    width: 25rem;
  }

  .third_page .sub-subtittle {
    font-family: 'Crimson Text';
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
    width: 25rem;
  }

  .third_page .paragraph {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 25rem;
    margin-bottom: 2rem;
  }

  .third_page .explanation_end {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  /* End Third Page  */


  /* Fourth Page  */

  .fourth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .fourth_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fourth_page .content img {
    height: 5rem;
    width: 15rem;
  }

  .fourth_page .content h1 {
    font-size: 16pt;
    text-align: center;
  }

  .fourth_page .package-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  .fourth_page .private-trip {
    width: 100%;
    max-width: 25rem;
    text-align: left;
  }

  .fourth_page .private-trip .explanation {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    align-items: center;
    width: 25rem;
    margin-top: 1rem;
  }

  .fourth_page .private-trip .subtittle {
    font-family: 'Crimson Text';
    font-size: 20pt;
    font-weight: medium;
    text-align: center;
    width: 25rem;
  }

  .styled-button {
    background-color: var(--button-secondary-color);
    color: var(--button-text-secondary-color);
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 10rem;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--font-size-large);
    transition: background-color 0.3s ease, transform 0.2s ease;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    margin-bottom: 5rem;
  }

  .styled-button a {
    text-decoration: none;
    color: inherit;
  }

  /* End of Fourth Page  */


  /* Fifth Page  */

  .fifth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 3rem;
  }

  .fifth_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fifth_page .content img {
    height: 5rem;
    width: 15rem;
  }

  .fifth_page .content h1 {
    font-size: 18pt;
    text-align: center;
    margin-top: -2rem;
  }

  .trip-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  /* End of Fifth Page  */

  /* Six Page */

  .six_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 4rem;
  }

  .six_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .six_page .content img {
    height: 5rem;
    width: 15rem;
  }

  .six_page .content h1 {
    font-size: 18pt;
    text-align: center;
    margin-top: -2rem;
  }

  /* End of Six Page */


  /* Gallery */

  #gallery .content img {
    height: 5rem;
    width: 15rem;
  }

  #gallery .content h1 {
    font-size: 18pt;
    text-align: center;
    margin-top: -2rem;
  }

  article.content h1 {
    font-size: var(--font-size-xlarge);
  }

  article.content img {
    font-size: var(--font-size-xlarge);
  }

  .contact-media {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }

  .contact-social-media {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }

  .contacts {
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
  }

  .up-carousel {
    flex-direction: column;
    gap: 2rem;
  }
}

/* End of Responsif HP L */


/* Responsif HP */

@media screen and (max-width: 375px) {

  /* First Page */

  .first_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .first_page .content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .first_page .content img {
    height: 3rem;
    width: 10rem;
  }

  .first_page .explanation {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 20rem;
    margin-bottom: 1rem;
  }

  #carousel {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
  }

  #carousel .carousel-inner img {
    height: 15rem;
    object-fit: cover;
  }

  /* End First Page */


  /* Second Page */

  .second_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .second_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second_page .content img {
    height: 5rem;
    width: 15rem;
  }

  .second_page .content h1 {
    font-size: 16pt;
    text-align: center;
  }

  .second_page .explanation {
    font-family: 'Crimson Text';
    font-size: 11pt;
    text-align: justify;
    width: 20rem;
  }

  .subtittle {
    font-family: 'Crimson Text';
    font-size: 16pt;
    font-weight: bold;
    text-align: justify;
    width: 20rem;
    margin-top: 2rem;
  }

  #carouselsecond_page {
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
  }

  #carouselsecond_page .carousel-inner img {
    height: 15rem;
    object-fit: cover;
  }

  .carousel-caption-bottom {
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 18pt;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
  }

  .second_page .carousel-inner {
    position: relative;
  }

  /* End Second Page */


  /* Third Page  */

  .third_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .third_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .third_page .content img {
    height: 5rem;
    width: 15rem;
  }

  .third_page .content h1 {
    font-size: 16pt;
    text-align: center;
    margin-top: -1rem;
  }


  #carouselthird_page {
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
  }

  #carouselthird_page .carousel-inner img {
    height: 15rem;
    object-fit: cover;
  }

  .carousel-caption-bottom {
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 16pt;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
  }

  .third_page .carousel-inner {
    position: relative;
  }

  .third_page .explanation {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 20rem;
    margin-top: -1rem;
  }

  .third_page .subtittle {
    font-family: 'Poppins';
    font-size: 14pt;
    font-weight: bold;
    text-align: justify;
    width: 20rem;
  }

  .third_page .sub-subtittle {
    font-family: 'Crimson Text';
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    width: 20rem;
  }

  .third_page .paragraph {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 20rem;
    margin-bottom: 2rem;
  }

  .third_page .explanation_end {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  /* End Third Page  */


  /* Fourth Page  */

  .fourth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .fourth_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fourth_page .content img {
    height: 5rem;
    width: 15rem;
  }

  .fourth_page .content h1 {
    font-size: 16pt;
    text-align: center;
    margin-top: -1rem;
  }

  .fourth_page .package-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  .fourth_page .private-trip {
    width: 100%;
    max-width: 20rem;
    text-align: left;
  }

  .fourth_page .private-trip .explanation {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    align-items: center;
    width: 20rem;
    margin-top: 1rem;
  }

  .fourth_page .private-trip .subtittle {
    font-family: 'Crimson Text';
    font-size: 20pt;
    font-weight: medium;
    text-align: center;
    width: 20rem;
  }

  .styled-button {
    background-color: var(--button-secondary-color);
    color: var(--button-text-secondary-color);
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 10rem;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--font-size-large);
    transition: background-color 0.3s ease, transform 0.2s ease;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    margin-bottom: 5rem;
  }

  .styled-button a {
    text-decoration: none;
    color: inherit;
  }

  /* End of Fourth Page  */


  /* Fifth Page  */

  .fifth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 10rem;
  }

  .fifth_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fifth_page .content img {
    height: 5rem;
    width: 15rem;
  }

  .fifth_page .content h1 {
    font-size: 16pt;
    text-align: center;
    margin-top: -1rem;
  }

  .trip-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  /* End of Fifth Page  */

  article.content h1 {
    font-size: var(--font-size-xlarge);
  }

  .contact-media {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }

  .contact-social-media {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }

  .contacts {
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
  }

  .up-carousel {
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 320px) {

  /* First Page */

  .first_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: 5rem;
  }

  .first_page .content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .first_page .content img {
    height: 3rem;
    width: 10rem;
  }

  .first_page .explanation {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 18rem;
    margin-bottom: 1rem;
  }

  #carousel {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
  }

  #carousel .carousel-inner img {
    height: 15rem;
    object-fit: cover;
  }

  /* End First Page */


  /* Second Page */

  .second_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .second_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second_page .content img {
    height: 5rem;
    width: 15rem;
  }

  .second_page .content h1 {
    font-size: 14pt;
    text-align: center;
    margin-top: -1rem;
  }

  .second_page .explanation {
    font-family: 'Crimson Text';
    font-size: 11pt;
    text-align: justify;
    width: 18rem;
  }

  .subtittle {
    font-family: 'Crimson Text';
    font-size: 14pt;
    font-weight: bold;
    text-align: justify;
    width: 18rem;
    margin-top: 2rem;
  }

  #carouselsecond_page {
    width: 100%;
    max-width: 18rem;
    margin: 0 auto;
  }

  #carouselsecond_page .carousel-inner img {
    height: 12rem;
    object-fit: cover;
  }

  .carousel-caption-bottom {
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 18pt;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
  }

  .second_page .carousel-inner {
    position: relative;
  }

  /* End Second Page */


  /* Third Page  */

  .third_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .third_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .third_page .content img {
    height: 5rem;
    width: 15rem;
  }

  .third_page .content h1 {
    font-size: 14pt;
    text-align: center;
    margin-top: -1rem;
  }

  #carouselthird_page {
    width: 100%;
    max-width: 19rem;
    margin-top: 2rem;
  }

  #carouselthird_page .carousel-inner img {
    height: 12rem;
    object-fit: cover;
  }

  .carousel-caption-bottom {
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 11pt;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
  }

  .third_page .carousel-inner {
    position: relative;
  }

  .third_page .explanation {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 18rem;
    margin-top: -1rem;
  }

  .third_page .subtittle {
    font-family: 'Poppins';
    font-size: 14pt;
    font-weight: bold;
    text-align: justify;
    width: 18rem;
  }

  .third_page .sub-subtittle {
    font-family: 'Crimson Text';
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    width: 18rem;
  }

  .third_page .paragraph {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 18rem;
    margin-bottom: 2rem;
  }

  .third_page .explanation_end {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    width: 18rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  /* End Third Page  */


  /* Fourth Page  */

  .fourth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .fourth_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fourth_page .content img {
    height: 5rem;
    width: 15rem;
  }

  .fourth_page .content h1 {
    font-size: 16pt;
    text-align: center;
    margin-top: -1rem;
  }

  .fourth_page .package-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  .fourth_page .private-trip {
    width: 100%;
    max-width: 18rem;
    text-align: center;
    align-items: center;
  }

  .fourth_page .private-trip .explanation {
    font-family: 'Crimson Text';
    font-size: 12pt;
    text-align: justify;
    align-items: center;
    width: 18rem;
    margin-top: 1rem;
  }

  .fourth_page .private-trip .subtittle {
    font-family: 'Crimson Text';
    font-size: 20pt;
    font-weight: medium;
    text-align: center;
    width: 18rem;
  }

  .styled-button {
    background-color: var(--button-secondary-color);
    color: var(--button-text-secondary-color);
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 10rem;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--font-size-large);
    transition: background-color 0.3s ease, transform 0.2s ease;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    margin-bottom: 5rem;
  }

  .styled-button a {
    text-decoration: none;
    color: inherit;
  }

  /* End of Fourth Page  */


  /* Fifth Page  */

  .fifth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 10rem;
  }

  .fifth_page .content {
    padding: 0 24rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fifth_page .content img {
    height: 5rem;
    width: 15rem;
  }

  .fifth_page .content h1 {
    font-size: 16pt;
    text-align: center;
    margin-top: -1rem;
  }

  .trip-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  /* End of Fifth Page  */

  article.content h1 {
    font-size: var(--font-size-xlarge);
  }

  .contact-media {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }

  .contact-social-media {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }

  .contacts {
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
  }

  .up-carousel {
    margin: 2rem;
    flex-direction: column;
    gap: 2rem;
  }
}